@model CdZ.MVC.Models.Cavaleiro.CavaleiroViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .erro {
        color: red;
    }
</style>

<h3>Listagem de cavaleiros</h3>

<ul id="cavaleiros"></ul>
<div id="feedback"></div>

<form id="frmNovoCavaleiro">
    <!-- nome -->
    <label for="txtNomeCavaleiro">Nome</label>
    <input id="txtNomeCavaleiro" type="text" name="nome" placeholder="Ex: Shiryu">
    <!-- tipoSanguineo -->
    <label for="slTipoSanguineo">Tipo Sanguíneo</label>
    <select id="slTipoSanguineo" name="tipoSanguineo">
        <option selected>Selecione</option>
        <option value="1">A</option>
        <option value="2">B</option>
        <option value="3">AB</option>
        <option value="4">O</option>
    </select>
    <!-- dataNascimento -->
    <label for="txtDtNascimento">Data de nascimento</label>
    <input id="txtDtNascimento" type="text" name="dataNascimento" placeholder="Ex: 4/11/2016">
    <!-- altura em metros -->
    <label for="nbAlturaMetros">Altura (metros)</label>
    <input id="nbAlturaMetros" type="number" name="alturaMetros" placeholder="Ex: 1.76" min="0" step="0.01">
    <!-- peso em kilos -->
    <label for="nbPesoKilos">Peso (kilos)</label>
    <input id="nbPesoKilos" type="number" name="pesoKg" placeholder="Ex: 73.5" min="0" step="0.01">
    <!-- signo -->
    <label for="slSigno">Signo</label>
    <select id="slSigno" name="signo">
        <option selected>Selecione</option>
        <option value="1">Áries</option>
        <option value="2">Touro</option>
        <option value="3">Gêmeos</option>
        <option value="4">Câncer</option>
        <option value="5">Leão</option>
        <option value="6">Virgem</option>
        <option value="7">Libra</option>
        <option value="8">Escorpião</option>
        <option value="9">Sagitário</option>
        <option value="10">Capricórnio</option>
        <option value="11">Aquário</option>
        <option value="12">Peixes</option>
    </select>
    <!-- localNascimento -->
    <label for="txtLocalNascimento">Local de nascimento</label>
    <input id="txtLocalNascimento" type="text" name="localNascimento" placeholder="Ex: Porto Alegre">
    <!-- localTreinamento -->
    <label for="txtLocalTreinamento">Local de treinamento</label>
    <input id="txtLocalTreinamento" type="text" name="localTreinamento" placeholder="Ex: Alvorada">
    <!-- Adicionar golpe -->
    <button id="btnAdicionarGolpe" type="button">Adicionar golpe...</button>
    <ul id="novosGolpes"></ul>
    <!-- Adicionar imagem -->
    <button id="btnAdicionarImg" type="button">Adicionar imagem...</button>
    <ul id="novasImagens"></ul>
    <input type="submit" id="btnCriar" />
</form>
<div id="detalhes-cavaleiro"></div>
<ul id="cavaleiros"></ul>

<script>
    var urlCavaleiroGet = '@Url.Action("Get")';
    var urlCavaleiroPost = '@Url.Action("Post")';
</script>

@section scripts {
    <script src="~/Scripts/Views/Cavaleiro/Index.js"></script>
}
