@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/css/shared.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <title>Loja Ninja</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <ul id="preto" class="nav navbar-nav">
            <li> <a href="/Pedido/Cadastro">Cadastrar Produtos</a></li>
            <li> <a href="/Pedido/Listagem">Listar Produtos</a></li>
        </ul>
    </nav>
    <div class="form-horizontal">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @RenderSection("scripts", false)
    
</body>
</html>
