
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consulta Ecletica</h2>

<form id="form-ecletico">
    <input type="text" name="pesquisa" />
    <input type="submit" />
</form>

<ul id="ecletica"></ul>



@section scripts{
    <script src="~/scripts/Custom/Exercicio2.js"></script>
}

